body{
 margin: 0;
}
a{
    text-decoration: none;
    
}

.logo{
    color:#089767;
    font-size:24px ;
    font-weight: bold;
}
aside{
    background-color: #089767;
    min-height: 92vh;
}
.out{
  position: absolute;
  width: 50%;
  bottom: 1%;
  left: 25%;
}
.logout{
  color: #089767;
  border: none ;
  background-color: white;
  border-radius: 10px;
  width:100% ;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.8s;
} 
.logout:hover{
  background-color: transparent;
  color: white;
  border: 1px solid white;

}
.nav-link:hover{
    transform:translateY(8px);
    background-color:#067c55;
    
}
.welcome{
  background-color:#6e42c16c;
  min-height: 150px;
  transition: bow-shadow 0.8s ease ;

}
.welcome:hover{
  box-shadow:0 10px 25px #472e7693 ;
  transform: translateY(-4px);
}
.welcome-img{
  width: 20%;
  position: absolute;
  right: -10%;
  bottom: 0%;
  max-width: 300px;
}
.card{
height: 280px;
}
.card-goal:hover{
  box-shadow:0 10px 25px #f0a05e ;
  transform: translateY(-4px);
}
.card-score:hover{
 box-shadow:0 10px 25px #fbb6fb8f ;
  transform: translateY(-4px);
}
.card-progress:hover{
  box-shadow:0 10px 25px #70b5f68f;
  transform: translateY(-4px);
}
.progress-circle-goal {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(#f0a05e 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.progress-circle-goal::before {
 content: "";
  position: absolute;
  inset:0;
  border-radius: 50%;
  background: conic-gradient(#fd7e14 0% 75%,transparent 75% 100%);
  mask: radial-gradient(circle,transparent 40px ,black 40px);
}
.progress-circle-goal::after{
  content: "";
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 50%;
} 
.progress-circle-goal span {
  position: relative;
  font-weight: bold;
  font-size: 20px;
} 


.progress-circle-score {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(#fbb6fb8f 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.progress-circle-score::before {
  content: "";
  position: absolute;
  inset:0;
  border-radius: 50%;
  background: conic-gradient(#feaffe 0% 50%,transparent 50% 100%);
  mask: radial-gradient(circle,transparent 40px ,black 40px);
 
}
.progress-circle-score::after{
  content: "";
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 50%;
} 
.progress-circle-score span {
  position: relative;
  font-weight: bold;
  font-size: 20px;
} 


.goal{
 width: 20px;
 height: 20px;
 border-radius: 50%;
 background-color:#f0a05e  ;
}
.prog{
 width: 20px;
 height: 20px;
 border-radius: 50%;
 background-color:#fd7e14  ;
}
.course{
 width: 20px;
 height: 20px;
 border-radius: 50%;
 background-color:#feaffe  ;
}
.general{
 width: 20px;
 height: 20px;
 border-radius: 50%;
 background-color:#fbb6fb8f  ;
}
 
.slide{
 display: flex;
 justify-content: center;
 text-align: center;
}
.but{
  background-color: #089767;
  color: white;
  border: none;
  border-radius: 10px;
  width: 15%;
  height: 50px; 
 
  transition: 0.8s;
}
.but:hover{
  background-color: transparent;
  color: #067c55;
  border: 1px solid #089767;
 
}

 

 @media (max-width: 992px) {
      aside {
        position: fixed;
        top: var(--nav-h) ;             
        left: 0;
        width: 100%;
        height: 100vh ;
        z-index: 1040;
      
      }
      .item{
        margin-top: 20px;
      }
      .welcome p{
        width: 75%;
      }
      .welcome-img{
        width: 30%;
        right: -11.5%;
        bottom: 0%;
      }

    }

    @media (max-width: 768px) {
      .welcome-img{
       position: static;
       display: block;
       margin: auto;
       margin-top: 10px;
       width: 50%;
      }
      .welcome{
        text-align: center;
      }
      .but{
        width:50%;
      }
    }




    